# Gradle
.gradle/
build/
bin/


# IDE
.idea/
*.iml
out/

# macOSj
.DS_Store

# Logs
*.log

# Local environment
.env
.env.*
!.env.example

# Application local config
application-local.yaml
application-local.yml

tmp/